body {
    background-color:beige;
    background-image: url("https://s.w-x.co/de-GettyImages-Wolken.jpg");
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    height: 250px;
    width: auto;
    border-radius: 10px;
    border: 3px solid #5f33ff;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;    
}

h1, p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}